<!DOCTYPE html>
<meta charset="utf-8" />
<title>Test WS</title>
<body>
<form id="'form" method="POST"> {% csrf_token %}
    <label for="text">Text:</label><br>
    <input type="text" id="text" name="text"><br>
    <input type="submit">
</form>
</body>
<script>

var loc = window.location
var wsStart = 'ws://'
if (loc.protocol == 'https:'){
	wsStart = 'wss://'
}
var endpoint = wsStart + loc.host + loc.pathname
var socket = new WebSocket(endpoint)

socket.onmessage = function(e){
	console.log("message", e)
}
socket.onopen = function(e){
	console.log("open", e)
}
socket.onerror = function(e){
	console.log("error", e)
}
socket.onclose = function(e){
	console.log("close", e)
}

</script>

<h2>WebSocket Test</h2>

<div id="output"></div>